<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>帮助中心</title>
</head>

<body><h1 align="center">新游山APP产品介绍</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 新游山APP是一款在线交友平台。任何年满18周岁以上并具有完全行为能力的人均可以用微信、QQ、手机三种渠道获得资格并通过真实身份认证注册成为网络主播。以视频、文字等方式，为广大用户提供情感交流、心理咨询、才艺表演、技术交流远程视频服务。</p>
<h2 align="center">帮助中心</h2>
<h3 align="left">一、怎样成为主播？</h3>
<p>任何年满18周岁以上具有完全行为能力的中华人民共和国公民（暂不对海外用户服务）均可以通过上传照片、视频、验证身份证等真实信息并通过审核后成为主播。</p>
<h3 align="left">二、提供什么功能？</h3>
<p>（1）文字私聊；
<br>
（2）发布照片、视频；
<br>
（3）发布QQ号码、微信号码；
<br>
（4）观看他人照片、视频;
<h3>三、绿色聊天规则。</h3>
<p>新游山是一款绿色健康的视频服务及在线交友平台。用户在使用过程中严禁发布低俗、色情、暴力、赌博、反动、引诱等不良内容，一经发现，平台将对其进行封号处理,封号后账户将不能登录。情节严重者，将向网警举报</p>
</body>
</html>
